/**
 *
 * @package Buttons
 */


.btn{
    display: inline-block;
    border: 1px solid transparent;
    background-color: #fff;
    padding: .5rem 1.25rem;
    vertical-align: baseline;
    text-align: center;

    &:hover{
        cursor: pointer;
    }

    &:focus{
        outline: 1px dotted $dark;
    }
}
