.icon {

    /**
     *
     * @package Bar
     */
    &-bar {

        &-children-1,
        &-children-2,
        &-children-3{
            width: 2.15rem;
            height: .20120112rem;
            margin-top: .28rem;
            margin-bottom: .28rem;
            background-color: $dark;
        }

        &-children-2{
            width: 1.69999rem;
        }

        &-children-3{
            width: 1.29999rem;
        }
    }



    
}