/**
 *
 * @package Banner
 */

.set-svg {

    user-select: none;

    &-wrapper {
        overflow: hidden;
    }

    &-img {
        position: absolute;
        top: 0;
        right: 0;
    }
}

/**
 *
 * @package Banner
 *
 * will going to set the banner style
 */

.banner {
    margin-top: 5rem;

    .user-intro {

        &-greeting {
            font-size: pxtorem(20);

        }

        &-user-name {
            color: lighten($dark, 12%);
            text-transform: uppercase;
            margin-top: pxtorem(10);
            margin-bottom: pxtorem(10);
        }

        &-text-animation {
            font-size: pxtorem(20);
        }

        &-btn {
            display: block;
            padding: .75rem 2.5rem;
            margin-top: 1rem;
            font-size: pxtorem(16);
            color: $white;
            border: none;
            box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
            background-image: linear-gradient(45deg, #1ffff5, #0c55fb, #fff);
            background-size: 250% 150%;
            border-radius: 50px;

            transition: background-size .354789s;

            &:hover,
            &:active {
                background-size: 100% 300%;
            }

            &:active {
                box-shadow: none;
            }
        }
    }
}


/**
 *
 * @package Change Margin TOP
 */

.navbar-fixed{
    .banner {
        margin-top: 13rem;
    }
}

/**
 *
 * @package Moving-Object
 *
 * will going to set the Moving-Object style
 */
.moving-object-banner {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: -1;
    
    &-item {
        position: absolute;
        z-index: -1;
    }

    &-one {
        top: 100px;
        left: 45px;
    }

    &-two {
        top: 400px;
        left: 100px;
    }

    &-three {
        top: 407px;
        left: 344px;
    }

    &-four {
        top: 200px;
        left: 200px;
    }

    &-five {
        top: 500px;
        left: 550px;
    }

}