.mobile-navbar {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1001;

  &-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .5rem 0;
  }

  &-brand {

    img {
      height: 40px;
      width: 40px;
    }
  }

  &-appearance-active {
    background-color: #fff;
    box-shadow: 2px 4px 8px 0 rgba(29, 33, 36, 0.11);
  }


  &-list {
    position: fixed;
    top: 0;
    right: -300px;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: pxtorem(260);
    overflow-y: auto;
    list-style-type: none;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 2px 4px 8px 0 rgba(29, 33, 36, 0.425);
    transition: .3s linear;
    z-index: 1002;

    &-active{
      right: 0;
    }

    &-user-profile-photo {
      margin-bottom: 3rem;

      img {
        height: 120px;
        width: 120px;
        display: block;
        margin: auto;
        border-radius: 50%;
        box-shadow: 2px 3px 12px 0 #c2e0fb;
      }
    }

    &-link {

      display: block;
      position: relative;
      color: $dark;
      padding: .5rem 1rem;
      text-decoration: none;
      text-transform: uppercase;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0%;
        background-color: $primary;
        transition: .3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
      }

      &:hover::before {
        width: 80%;
      }
    }
  }

  &-toggler {
    position: relative;
    cursor: pointer;
    height: 30px;
    width: 45px;


    &-icon {
      position: absolute;
      right: 0px;
      background: $dark;
      width: 28px;
      height: 1px;
      top: 12px;

      &::before,
      &::after {
        content: "";
        display: block;
        width: 33px;
        height: 1px;
        background-color: $dark;
      }

      &::after {
        transform: translate(7px, 7px);
        width: 21px;
      }

      &::before{
        width: 35px;
        transform: translate(-6px, -8px);
      }
    }
  }
}